In [4]:
for i in [1, 2, 3, 4]:
    print(i, end=", ")

1, 2, 3, 4,

In [6]:
for i in range(5):
    print(i, end=", ")

0, 1, 2, 3, 4,

In [7]:
for i in range(-1, 5):
    print(i, end=", ")

-1, 0, 1, 2, 3, 4,

In [9]:
for i in range(-1, 5, 2):
    print(i, end=", ")

-1, 1, 3,

In [16]:
for x in range(0,10):
    for k in range(0,10):
        print(x, end="  ")
    print("\n")

0  0  0  0  0  0  0  0  0  0

1  1  1  1  1  1  1  1  1  1

2  2  2  2  2  2  2  2  2  2

3  3  3  3  3  3  3  3  3  3

4  4  4  4  4  4  4  4  4  4

5  5  5  5  5  5  5  5  5  5

6  6  6  6  6  6  6  6  6  6

7  7  7  7  7  7  7  7  7  7

8  8  8  8  8  8  8  8  8  8

9  9  9  9  9  9  9  9  9  9

In [22]:
for t in range(0, -14, -1):
    print(t, end=", ")

0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13,

In [26]:
r = range(0, 20, 2)
for y in r:
    print(y, end=", ")
print(r)
11 in r

0, 2, 4, 6, 8, 10, 12, 14, 16, 18, range(0, 20, 2)

False

In [27]:
mi_lista = ['Juan', 'Pedro', 'Laura', 'Carmen', 'Susana']
print(mi_lista[0]) # Muestra Juan (la primera posición es la 0)
print(mi_lista[-1]) # Muestra Susana
print(mi_lista[1]) # Muestra Pedro
print(mi_lista[2]) # Muestra Laura
print(mi_lista[-2]) # Muestra Carmen

Juan
Susana
Pedro
Laura
Carmen

In [30]:
edades = [20, 41, 6, 18, 23]

# Recorriendo los elementos
for edad in edades:
    print(edad)

# Recorriendo los índices
for i in range(len(edades)):
    print(edades[i], end=", ")

20
41
6
18
23
20, 41, 6, 18, 23,

In [8]:
mi_diccionario = {
    "nombre": "Juan",
    "edad": "23",
    "usuario": "jn23",
}
# Recorriendo los elementos

for ads in mi_diccionario:
    print(ads, ": ", mi_diccionario[ads], sep='')

nombre: Juan
edad: 23
usuario: jn23

In [12]:
mi_tabla = [['Juan', 'Laura', "alex"], [21, 32, 34]]

for i in range(len(mi_tabla)):
    for j in range(len(mi_tabla[i])):
        print(mi_tabla[i][j],end=", ")
    print()

Juan, Laura, alex,
21, 32, 34,

In [38]:
mi_tabla = [['Juan', 'Laura', "alex"], [21, 32, 34]]

for i in mi_tabla:
    for j in i:
        print(j, end=", ")
    print()

Juan, Laura, alex,
21, 32, 34,

In [14]:
def di_hola():
    print("Hola")

di_hola()

Hola

In [15]:
def di_hola(nombre):
    print("Hola", nombre)
di_hola("Juan")

Hola Juan

In [17]:
def resta(a, b):
    return a-b

resta(5, 3) # 2

2

In [24]:
def suma(numeros):
    total = 0
    for n in numeros:
        total += n
    return total
suma([1,3,5,4]) # 13

13

In [26]:
def suma(*numeros):
    print(type(numeros))
    # <class 'tuple'>
    total = 0
    for n in numeros:
        total += n
    return total
print(suma(1, 3, 5, 4)) # 13

<class 'tuple'>
13

In [33]:
x = [10, 20, 30]
def funcion(entrada):
    
    return entrada

funcion(x)
print(funcion(x))

[10, 20, 30]

## Expresiones Idiomáticas

In [2]:
def filtrar_pares(salida: list = []) -> list:
    """
    aux=[]
    for x in salida:
        if x % 2 == 0:
            aux.append(x)
    return aux
    """
    return [i for i in salida if i%2 == 0]

print(filtrar_pares([1, 2, 3, 4, 5, 6]))
# Salida: [2, 4, 6]

[2, 4, 6]

In [35]:
lista = [[56, 34, 1],
         [12, 4, 5],
         [9, 4, 3]]
for i in lista:
    print(i)

[56, 34, 1]
[12, 4, 5]
[9, 4, 3]

In [5]:
aux1=[]
for ind0 in range(3):
    aux1 = int()

tablero = [[int() for ind0 in range(3)] for ind1 in range(3)]

for i in range(3):
    for j in range(3):
        print(tablero[i][j], end=", ")
    print()

0, 0, 0,
0, 0, 0,
0, 0, 0,